
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Lista de Candidatos</h3>
            </div>

            <!--Hover Rows-->
            <!--===================================================-->
            <div class="panel-body">
                <table class="table table-hover table-vcenter">
                    <thead>
                        <tr>
                            <th class="min-width"></th>
                            <th>Nombre</th>
                            <th class="text-center">Demarcación</th>
                            <th class="text-center">Partido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><img src="@Url.Content("~/img/av2.png")" class="img-circle img-sm" /></td>
                            <td>
                                <span class="text-semibold">Juan Padilla</span>
                                <br>
                                <small class="text-muted">ALCALDE</small>
                            </td>
                            <td class="text-center"><span class="text-semibold">Consuelo</span></td>
                            <td class="text-center"><span class="ext-semibold">PRD</span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="@Url.Content("~/img/av3.png")" class="img-circle img-sm" /></td>
                            <td>
                                <span class="text-semibold">Dioris Mota</span>
                                <br>
                                <small class="text-muted">VICEALCALDE</small>
                            </td>
                            <td class="text-center"><span class="text-semibold">Consuelo</span></td>
                            <td class="text-center"><span class="text-semibold">PRD</span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="@Url.Content("~/img/av1.png")" class="img-circle img-sm" /></td>
                            <td>
                                <span class="text-semibold">Juan Carrasco</span>
                                <br>
                                <small class="text-muted">REGIDOR</small>
                            </td>
                            <td class="text-center"><span class="text-semibold">Consuelo</span></td>
                            <td class="text-center"><span class="text-semibold">PRD</span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="@Url.Content("~/img/av4.png")" class="img-circle img-sm" /></td>
                            <td>
                                <span class="text-semibold">Cristina De La Cruz</span>
                                <br>
                                <small class="text-muted">REGIDOR</small>
                            </td>
                            <td class="text-center"><span class="text-semibold">Consuelo</span></td>
                            <td class="text-center"><span class="text-semibold">PRD</span></td>
                        </tr>
                        <tr>
                            <td class="text-center"><img src="@Url.Content("~/img/av2.png")" class="img-circle img-sm" /></td>
                            <td>
                                <span class="text-semibold">Juan Padilla</span>
                                <br>
                                <small class="text-muted">ALCALDE</small>
                            </td>
                            <td class="text-center"><span class="text-semibold">Consuelo</span></td>
                            <td class="text-center"><span class="text-semibold">PRD</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--===================================================-->
            <!--End Hover Rows-->

        </div>

