
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{

<link href="@Url.Content("~/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css")" rel="stylesheet" />


    <style type="text/css">
        #mapCandidates {
            height: 500px;
            min-width: 310px;
            max-width: 100%;
            margin: 0 auto;
        }

        .loading {
            margin-top: 10em;
            text-align: center;
            color: gray;
        }
    </style>
}


<div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        @*<div id="page-title">
                <h1 class="page-header text-overflow">Lista de Distribución</h1>


            </div>*@
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End page title-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">B&uacute;squeda de candidatos por Zona</h3>
                        </div>

                        <!--Hover Rows-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <div id="mapCandidates">
                                
                            </div>
                        </div>

                    </div>
                </div>
      

                        <div class="col-sm-12">
                            <section id="candidatesList" style="display:none">
                                @Html.Partial("_CandidatesList")
                            </section>

                        </div>
                    </div>
                </div>
    </div>

</div>


@section scripts{

 <script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/do/do-all.js"></script>


<script src="@Url.Content("~/plugins/datatables/media/js/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/plugins/datatables/media/js/dataTables.bootstrap.js")"></script>
<script src="@Url.Content("~/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js")"></script>

    <script src="@Url.Content("~/Scripts/Electoral/Map.js")"></script>
}

