
    <link href="@Url.Content("~/css/timeline.css")" rel="stylesheet" />

    <style>
        .panel-ocean .panel-heading, .panel-ocean .panel-footer, .panel-ocean.panel-colorful {
            background-color: #5aaedc;
            border-color: #5aaedc;
            color: #fff;
        }

        #voteVideo {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            border: medium solid #fff;
        }
    </style>

<div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">
        <!--TIMELINE-->
        <!--===================================================-->
        <div id="page-content">

            <div class="row">
                <div class="panel panel-colorful panel-ocean">

                    <div class="panel-body">
                        @*<h1>Elecciones RD 2016</h1>*@
                       
                        <div class="row">
                            <div class="col-sm-6">

                                <img src="@Url.Content("~/img/Logo_concurso-02.jpg")" />
                            </div>
                            <div class="col-sm-6">
                                <iframe id="voteVideo" width="464" height="261" src="https://www.youtube.com/embed/WWYWS29uwls?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen=""></iframe>

                                @*<embed width="420" height="315"
                                    src="https://www.youtube.com/watch?v=WWYWS29uwls">*@

                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="panel panel-bordered-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-calendar"></i> Calendario de Elecciones</h3>
                    </div>

                    <!--Hover Rows-->
                    <!--===================================================-->
                    <div class="panel-body">
                        <div class="nano" style="height:380px">
                            <div class="nano-content pad-all">

                                <section id="cd-timeline" class="cd-container">
                                    @*<div id="page-title">
                                            <h1 class="page-header text-overflow"><i class="fa fa-calendar"></i> Calendario de Elecciones</h1>
                                        </div>*@

                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-purple bounce-in">
                                            <img src="@Url.Content("~/img/calendar.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fecha límite la entrega de credenciales al personal de los colegios.</span>
                                            @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">7 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div> <!-- cd-timeline-block -->

                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-success  bounce-in">
                                            <img src="@Url.Content("~/img/newspaper.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Publicar en un periódico de circulación nacional el facsímil Boleta Electoral.</span>
                                            @*<p>El supervisor debe asignar los objetivos a sus supervisados en el periodo establecido.</p>
                                                <a href="@Url.Action("Index", "ObjGralSup")" class="cd-read-more">Asignar</a>*@
                                            <span class="cd-date">10 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div> <!-- cd-timeline-block -->

                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-mint bounce-in">
                                            <img src="@Url.Content("~/img/notes.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Inicio de plazo para que presidentes y secretarios de los colegios electorales retiren de las juntas el material electoral</span>
                                            @*<p>El evaluado evalua su rendimiento en cada uno de los objetivos asignados.</p>
                                                <a href="@Url.Action("Index","MyEvaluation")" class="cd-read-more">Evaluar</a>*@
                                            <span class="cd-date">11 May 2016 - 13 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>

                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-info bounce-in">
                                            <img src="@Url.Content("~/img/teacher.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fecha límite para instruir al personal de los colegios electorales</span>
                                            @*<p>Fecha limite para la aceptación y cierre de la evaluación.</p>
                                                <a href="@Url.Action("Index", "EmpEvaluation")" class="cd-read-more">Cerrar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">13 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>

                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-purple">
                                            <img src="@Url.Content("~/img/vote.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Elecciones ordinarias generales presidenciales, congresuales y municipales</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">15 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-success ">
                                            <img src="@Url.Content("~/img/mouse.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Término del Cómputo Electoral</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">17 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-danger ">
                                            <img src="@Url.Content("~/img/cancel.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fecha límite para presentación de anulaciones</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">19 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-info">
                                            <img src="@Url.Content("~/img/speech.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Conocimiento de las impugnaciones que fueren presentadas</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">22 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-mint">
                                            <img src="@Url.Content("~/img/result.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fallo sobre las impugnaciones que se presentaren</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">24 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-danger">
                                            <img src="@Url.Content("~/img/cancel.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fecha límite para presentar apelación sobre decisiones de juntas electorales</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">26 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-info">
                                            <img src="@Url.Content("~/img/speech.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Conocimiento de las apelaciones que fueren presentadas</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">31 May 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-mint">
                                            <img src="@Url.Content("~/img/result.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fallo sobre las apelaciones que se presenten</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">03 Jun 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-info">
                                            <img src="@Url.Content("~/img/speech.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Publicación de la Proclama para la Segunda Elección</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">06 Jun 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-purple ">
                                            <img src="@Url.Content("~/img/graphic.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fecha límite para formular Relación General con candidatos electos y votos obtenidos</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">14 Jun 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-danger ">
                                            <img src="@Url.Content("~/img/dollar.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fecha límite para entrega a los Partidos Políticos de la Contribución del Estado</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">16 Jun 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-purple ">
                                            <img src="@Url.Content("~/img/candidate.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Segunda elección presidencial 2016</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">26 Jun 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-success ">
                                            <img src="@Url.Content("~/img/mouse.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Término del Cómputo Electoral</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">28 Jun 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                    <div class="cd-timeline-block">
                                        <div class="cd-timeline-img bg-danger ">
                                            <img src="@Url.Content("~/img/cancel.png")" alt="Picture">
                                        </div> <!-- cd-timeline-img -->

                                        <div class="cd-timeline-content">
                                            <span class="text-1-5x">Fecha límite para presentación de anulaciones</span>
                                            @*<p>Los empleados consultan los resultados de sus evaliaciones</p>
                                                <a href="#0" class="cd-read-more">Consultar</a>*@
                                            @*<a href="#0" class="cd-read-more">Read more</a>*@
                                            <span class="cd-date">30 Jun 2016</span>
                                        </div> <!-- cd-timeline-content -->
                                    </div>
                                </section> <!-- cd-timeline -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-4">
                    <a class="twitter-timeline" href="https://twitter.com/hashtag/EleccionesRD2016" data-widget-id="729874956591341568">Tweets sobre #EleccionesRD2016</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

                </div>
                <div class="col-sm-4">
                    <a class="twitter-timeline" href="https://twitter.com/juntacentral" data-widget-id="730017325588455425"></a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="col-sm-4">
                    <a class="twitter-timeline" href="https://twitter.com/PCiudadana/likes" data-widget-id="729982591407783936"></a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>

    </div>
</div>


    <script>
        jQuery(document).ready(function ($) {
            var $timeline_block = $('.cd-timeline-block');

            //hide timeline blocks which are outside the viewport
            $timeline_block.each(function () {
                if ($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                }
            });

            //on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function () {
                $timeline_block.each(function () {
                    if ($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                    }
                });
            });
        });
    </script>
