
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">


                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

                    <div class="row">
                        <div class="col-lg-16">

                            <!-- Status Form -->
                            <!--===================================================-->
                            <div class="panel">
                                <div class="panel-body">
                                    <input type="text" class="form-control" placeholder="Nombre" />
                                    <br />
                                    <input type="text" id="user-id" class="form-control" placeholder="C&eacute;dula" />
                                    <br />
                                    <textarea class="form-control" rows="2" placeholder="Describir irregularidad"></textarea>
                                    <div class="mar-top clearfix">
                                        <button class="btn btn-sm btn-primary pull-right" type="submit"> Publicar</button>
                                        <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#" data-original-title="Añadir Video" data-toggle="tooltip"></a>
                                        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#" data-original-title="Añadir Foto" data-toggle="tooltip"></a>
                                        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#" data-original-title="Añadir Archivo" data-toggle="tooltip"></a>
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Status Form -->


                            <div class="panel">
                                <div class="panel-body">
                                    <div class="nano" style="height:380px">
                                        <div class="nano-content pad-all">
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>
                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <div id="mainnav-shortcut">
                        <ul class="list-unstyled">
                            <li class="col-xs-4" data-content="Additional Sidebar">
                                <a id="demo-toggle-aside" class="shortcut-grid" href="#">
                                    <span><i class="fa fa-comments"></i> Chat</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!--================================-->
                    <!--End shortcut buttons-->
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">

                                    <!--Category name-->
                                    <li class="list-header">Menú</li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            <span class="menu-title">
                                                <strong>Mi Perfil</strong>

                                            </span>
                                        </a>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                            <span class="menu-title">
                                                <strong>Favoritos</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Noticias</a></li>
                                            <li><a href="#">Mensajes</a></li>
                                            <li><a href="#">Cursos</a></li>
                                            <li><a href="#">Universidades</a></li>
                                            <li><a href="#">Páginas</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                            <span class="menu-title">
                                                <strong>Intereses</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Educación</a></li>
                                            <li><a href="#">Deportes</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="calendar.html">
                                            <i class="fa fa-calendar"></i>
                                            <span class="menu-title">
                                                <strong>Pendientes</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-suitcase"></i>
                                            <span class="menu-title">
                                                <strong>Empleos</strong>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-gamepad"></i>
                                            <span class="menu-title">
                                                <strong>Juegos</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Ejercita tu mente</a></li>
                                            <li><a href="#">Conoce tus habilidades</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-line-chart"></i>
                                            <span class="menu-title">
                                                <strong>Asesorias</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Test</a></li>
                                            <li><a href="#">Consejos</a></li>
                                        </ul>
                                    </li>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            <i class="fa fa-users"></i>
                                            <span class="menu-title">
                                                <strong>Sala de Tareas</strong>

                                            </span>
                                        </a>
                                    </li>

                                </ul>



                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>


@section Scripts{    
<script src="~/Scripts/Electoral/IncidentsReport.js"></script>
 }