
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">


                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

                    <div class="row">
                        <div class="col-lg-16">

                            <!-- Status Form -->
                            <!--===================================================-->
                            <div class="panel">
                                <div class="panel-body">
                                    <input type="text" class="form-control" placeholder="Nombre" />
                                    <br />
                                    <input type="text" id="user-id" class="form-control" placeholder="C&eacute;dula" />
                                    <br />
                                    <textarea class="form-control" rows="2" placeholder="Describir irregularidad"></textarea>
                                    <div class="mar-top clearfix">
                                        <button class="btn btn-sm btn-primary pull-right" type="submit"> Publicar</button>
                                        <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#" data-original-title="Añadir Video" data-toggle="tooltip"></a>
                                        <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#" data-original-title="Añadir Foto" data-toggle="tooltip"></a>
                                        <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#" data-original-title="Añadir Archivo" data-toggle="tooltip"></a>
                                    </div>
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Status Form -->


                            <div class="panel">
                                <div class="panel-body">
                                    <div class="nano" style="height:380px">
                                        <div class="nano-content pad-all">
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                            <!-- Newsfeed Content -->
                                            <!--===================================================-->
                                            <div class="media-block">
                                                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="@Url.Content("~/img/av5.png")"></a>
                                                <div class="media-body">
                                                    <div class="mar-btm">
                                                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                                                        <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - Móvil - Hace 11 minutos</p>
                                                    </div>
                                                    <p>hey! ¡Este año termino la secundaria! <i class="fa fa-smile-o"></i>, ¿Quiénes se van conmigo para Santo Domingo a estudiar Medicina? </p>



                                                </div>
                                            </div>
                                            <!--===================================================-->
                                            <!-- End Newsfeed Content -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <div id="mainnav-shortcut">
                        <ul class="list-unstyled">
                            <li class="col-xs-4" data-content="Additional Sidebar">
                                <a id="demo-toggle-aside" class="shortcut-grid" href="#">
                                    <span><i class="fa fa-comments"></i> Chat</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!--================================-->
                    <!--End shortcut buttons-->
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">

                                    <!--Category name-->
                                    <li class="list-header">Menú</li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            <span class="menu-title">
                                                <strong>Mi Perfil</strong>

                                            </span>
                                        </a>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                            <span class="menu-title">
                                                <strong>Favoritos</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Noticias</a></li>
                                            <li><a href="#">Mensajes</a></li>
                                            <li><a href="#">Cursos</a></li>
                                            <li><a href="#">Universidades</a></li>
                                            <li><a href="#">Páginas</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                            <span class="menu-title">
                                                <strong>Intereses</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Educación</a></li>
                                            <li><a href="#">Deportes</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="calendar.html">
                                            <i class="fa fa-calendar"></i>
                                            <span class="menu-title">
                                                <strong>Pendientes</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-suitcase"></i>
                                            <span class="menu-title">
                                                <strong>Empleos</strong>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-gamepad"></i>
                                            <span class="menu-title">
                                                <strong>Juegos</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Ejercita tu mente</a></li>
                                            <li><a href="#">Conoce tus habilidades</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-line-chart"></i>
                                            <span class="menu-title">
                                                <strong>Asesorias</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Test</a></li>
                                            <li><a href="#">Consejos</a></li>
                                        </ul>
                                    </li>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            <i class="fa fa-users"></i>
                                            <span class="menu-title">
                                                <strong>Sala de Tareas</strong>

                                            </span>
                                        </a>
                                    </li>

                                </ul>



                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->
            <!--ASIDE-->
            <!--===================================================-->
            <aside id="aside-container">
                <div id="aside">
                    <div class="nano">
                        <div class="nano-content">

                            <!-- Simple profile -->
                            <div class="text-center pad-all">
                                <div class="pad-ver">
                                    <img src="@Url.Content("~/img/av1.png")" class="img-lg img-border img-circle" alt="Profile Picture">
                                </div>
                                <h4 class="text-lg text-overflow mar-no">Noel Gutiérrez</h4>
                                <p class="text-sm">Team Leader Equipo de Desarrollo</p>


                                <div class="pad-ver btn-group">
                                    <a title="" href="#" class="btn btn-icon btn-hover-primary fa fa-facebook icon-lg add-tooltip" data-original-title="Facebook" data-container="body"></a>
                                    <a title="" href="#" class="btn btn-icon btn-hover-info fa fa-twitter icon-lg add-tooltip" data-original-title="Twitter" data-container="body"></a>
                                    <a title="" href="#" class="btn btn-icon btn-hover-danger fa fa-google-plus icon-lg add-tooltip" data-original-title="Google+" data-container="body"></a>
                                    <a title="" href="#" class="btn btn-icon btn-hover-mint fa fa-envelope icon-lg add-tooltip" data-original-title="Email" data-container="body"></a>
                                </div>
                                <button class="btn btn-block btn-success">Seguir</button>
                            </div>
                            <hr>
                            <ul class="list-group bg-trans">

                                <!-- Profile Details -->
                                <li class="list-group-item list-item-sm">
                                    <i class="fa fa-home fa-fw"></i> Santo Domingo, DN
                                </li>
                                <li class="list-group-item list-item-sm">
                                    <i class="fa fa-clock-o fa-fw"></i> Miembro desde hace 2 meses
                                </li>
                                <!--li class="list-group-item list-item-sm text-primary text-semibold">
                                    <a href="#" class="btn-link">
                                        <i class="fa fa-globe fa-fw"></i> http://www.themeon.net
                                    </a>
                                </li-->
                            </ul>
                            <hr>
                            <div class="pad-hor">
                                <h5>Extracto</h5>
                                <small class="text-thin">
                                    Soy un joven con muchos deseos de superación. ¡Amante de Dios, de la familia y de la tecnología!
                                    Me gustan los deportes, la lectura y ser emprendedor!
                                </small>
                            </div>
                            <hr>
                            <div class="text-center clearfix">
                                <div class="col-xs-6">
                                    <p class="h3">103</p>
                                    <small class="text-muted">Likes</small>
                                </div>
                                <div class="col-xs-6">
                                    <p class="h3">745</p>
                                    <small class="text-muted">Amigos</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>



            <!--===================================================-->
            <!--END ASIDE-->

        </div>


@section Scripts{
    
<script src="~/Scripts/Electoral/IncidentsReport.js"></script>
    }